<section class="mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header bg-secondary text-white">
            <p class="h4">Range Selector</p>
          </div>
          <div class="card-body">
            <form>
              <label>Amount : </label>
              <input name="amount"
                     [(ngModel)]="amount"
                     type="range" class="form-range" min="5000" max="500000">
            </form>
            <p>{{amount | currency:'INR'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
